.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .nav-container {
    height: 100%;
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    .left {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .tesla {
        width: 8rem;
      }
    }

    .center {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: center;

      .center-list {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-size: 0.95rem;
        font-weight: 500;

        li {
          width: 6rem;
          padding: 0.5rem 0.125rem;
          border-radius: 5px;
          cursor: pointer;
          text-align: center;

          &:hover {
            background-color: rgba($color: #808080, $alpha: 0.1);
            transition: all 0.5s ease;
          }

          &:nth-child(5) {
            width: 7rem;
          }

          &:last-child {
            width: 8rem;
          }

          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .right-list {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-size: 0.95rem;
        font-weight: 500;

        li {
          width: 4rem;
          padding: 0.5rem 0.125rem;
          border-radius: 5px;
          cursor: pointer;
          text-align: center;

          &:hover {
            background-color: rgba($color: #808080, $alpha: 0.1);
            transition: all 0.5s ease;
          }

          &:nth-child(2) {
            width: 6rem;
          }

          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }
  }
}